<div class="card" style="padding: 20px; padding-bottom: 5px;">
  <%= form_tag houses_path, :method => 'get' do %>
    <div class="form-row" align="left">

      <div class="form-row col-md-3 offset-md-2" align="center">
        <div class="form-group col-md-4">
          <%= label_tag :location, "Location:", class: 'col-form-label' %>
        </div>
        <div class="form-group col-md-8">
          <%= text_field_tag :location, params[:location], class: 'form-control' %>
        </div>
      </div>

      <div class="form-row col-md-4" align="center">
        <div class="form-group col-md-2">
          <%= label_tag :price, "Price:", class: 'col-form-label' %>
        </div>
        <div class="form-group col-md-4">
          <%= text_field_tag :start_price, params[:start_price], class: 'form-control' %>
        </div>
        <%= label_tag :price, "-", class: 'col-form-label' %>
        <div class="form-group col-md-4">
          <%= text_field_tag :end_price, params[:end_price], class: 'form-control' %>
        </div>
      </div>

      <div class="form-row col-md-4" align="center">
        <div class="form-group col-md-2">
          <%= label_tag :Area, "Area:", class: 'col-form-label' %>
        </div>
        <div class="form-group col-md-4">
          <%= text_field_tag :start_area, params[:start_area], class: 'form-control' %>
        </div>
        <%= label_tag :price, "-", class: 'col-form-label' %>
        <div class="form-group col-md-4">
          <%= text_field_tag :end_area, params[:end_area], class: 'form-control' %>
        </div>
      </div>

      <div class="actions  col-md-1">
        <%= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>