<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :house_style %>
      <%= form.collection_select :house_style_id, @house_styles, :id, :name, {:include_blank => true}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :location %>
      <%= form.text_field :location, class: 'form-control'%>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :square_footage %>
      <%= form.text_field :sq_ft, class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :built_year %>
      <%= form.text_field :year, class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :No_of_floors %>
      <%= form.text_field :floors, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :owner %>
      <%= form.text_field :owner, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :contact %>
      <%= form.text_field :contact, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :basement %> &nbsp;
    <%= form.check_box :basement, class: 'checkbox-inline' %>
  </div>

  <div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, direct_upload: true, class: 'form-control' %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
