<span class="font-weight-light" style="font-size: 40pt;"><%= @house.name %></span>
<br><br>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
            <li class="list-group-item pl-4">
                <div class="d-flex flex-row">
                  <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">person_add</i></div>
                  <div class="p-2">
                    <div class="row">
                      <span class="text-uppercase font-weight-bold" style="color: #cc0000">Realtor</span>
                    </div>
                    <% if !@house.user.nil? %>
                      <div class="row">
                        <span><%= @house.user.name %></span>
                      </div>
                    <% end %>
                  </div>
                </div>
            </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">home</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">House Style</span>
                </div>
                <div class="row">
                  <span><%= @house.house_style%></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">place</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">Location</span>
                </div>
                <div class="row">
                  <span><%= @house.location %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">tab_unselected</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">sq ft</span>
                </div>
                <div class="row">
                  <span><%= @house.sq_ft %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">history</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">built year</span>
                </div>
                <div class="row">
                  <span><%= @house.year %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">attach_money</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">Price</span>
                </div>
                <div class="row">
                  <span><%= @house.price %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">view_day</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">no of floors</span>
                </div>
                <div class="row">
                  <span><%= @house.floors %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">video_label</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">basement</span>
                </div>
                <div class="row">
                  <span><%= @house.basement ? 'Yes' : 'No' %></span>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">person</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">Owner</span>
                </div>
                <div class="row">
                  <span><%= @house.owner %></span>
                </div>
              </div>
             </div>
          </li>

          <li class="list-group-item pl-4">
            <div class="d-flex flex-row">
              <div class="p-2" style="color: #cc0000"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;">call</i></div>
              <div class="p-2">
                <div class="row">
                  <span class="text-uppercase font-weight-bold" style="color: #cc0000">contact</span>
                </div>
                <div class="row">
                  <span><%= @house.contact %></span>
                </div>
              </div>
            </div>
          </li>
          <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>

        </ul>
    </div>
    <% if !notice.nil? %>
      <br>
      <div class="row ml-2">
        <div class="alert alert-success" role="alert">
          <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">check_circle</i><%= notice %>
          <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>

    <br>
    <div class="d-flex flex-row" style="width: 250px; text-align: center">
      <div class="p-2" style="width: 73px">
        <%= link_to houses_path, class: 'list-group-item list-group-item-danger list-group-item-action' do %>
          <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">arrow_back_ios</i>
        <% end %>
      </div>
      <% if admin? || (realtor? and !@house.user.nil? and current_user.id == @house.user.id)%>
        <div class="p-2" style="width: 80px">
          <%= link_to edit_house_path(@house), class: 'list-group-item list-group-item-danger   list-group-item-action' do %>
            <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">edit</i>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col-md-8">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% active = 'active' %>
        <% @house.images.each do |image| %>
          <div class="carousel-item <%= active %>">
            <%= image_tag image, height: '400px', class: 'd-block w-100' %>
          </div>
          <% active = ''%>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <br>

    <% if !house_hunter? && current_user.id == @house.user_id %>
      <div>
        <br><br>
        <div class="card" style="width: 18rem;">
          <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
          <div class="card-body">
            <h5 class="card-title" align="center">
              <i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;color: #cc0000">people</i>
              <span class="text-uppercase font-weight-bold" style="color: #cc0000">Potential Buyers</span>
            </h5>
            <p class="card-text">These are the list of house hunters that have shown interest in this house.</p>
          </div>
          <div class="list-group list-group-flush" align="center">
            <% if !@potential_buyer.nil? %>
              <% @potential_buyers.each do |buyer| %>
                <%= link_to buyer.name, user_path(buyer.id), class: 'list-group-item list-group-item-action'  %>
              <% end %>
            <% end %>
          </div>
          <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
        </div>
      </div>
    <% end %>

    <% if house_hunter? || admin?%>

      <% if @potential_buyer.nil? %>
        <div class="p-2" align="center">
          <%= link_to controller: 'potential_buyer', action: 'mark_interested', house_id: @house.id, class: 'list-group-item list-group-item-success list-group-item-action link-do-dec' do %>
            <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">thumb_up</i> Mark Interested
          <% end %>
        </div>
      <% else %>
        <div class="p-2" align="center">
          <%= link_to controller: 'potential_buyer', action: 'mark_uninterested', house_id: @house.id, class: 'list-group-item list-group-item-danger list-group-item-action link-do-dec' do %>
            <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">thumb_down</i> Mark Uninterested
          <% end %>
        </div>
      <% end %>

      <br>

      <div class="card">
        <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
        <div class="card-body">
          <h5 class="card-title" align="center">
            <i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;color: #cc0000">chat</i>
            <span class="text-uppercase font-weight-bold" style="color: #cc0000">Inquiries</span>
          </h5>
          <p class="card-text">These are the list of queries that you have raised against this house.
            You can also see the reply from authorized realtors.</p>
        </div>
        <div class="list-group list-group-flush">
          <% @inquiries.each do |inquiry|  %>
            <div class="list-group-item">
              <table>
                <tr>
                  <td><span class="text-uppercase font-weight-bold">Subject</span></td>
                  <td width="20px"></td>
                  <td><%= inquiry.subject %></td>
                </tr>
                <tr>
                  <td><span class="text-uppercase font-weight-bold">message</span></td>
                  <td></td>
                  <td><%= inquiry.msg %></td>
                </tr>
                <tr>
                  <td><span class="text-uppercase font-weight-bold">reply</span></td>
                  <td></td>
                  <td><% if !inquiry.reply.nil? && !inquiry.reply.empty?  %>
                      <p class="card-text"><i><%= inquiry.reply %></i></p>
                    <% else %>
                      <p class="card-text"><i>A realtor is yet to reply to this inquiry.</i></p>
                    <% end %></td>
                </tr>
              </table>
            </div>
          <% end %>
          <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
        <div class="card-body">
          <h5 class="card-title" align="center">
            <i class="material-icons mr-1" style="vertical-align: bottom;font-size: 24px;color: #cc0000">add_comment</i>
            <span class="text-uppercase font-weight-bold" style="color: #cc0000">Add new Inquiry</span>
          </h5>
          <p class="card-text">Please use the form below to post any queries you have related
            to this listing and we will get back to you at the earliest.</p>
        </div>

        <div class="list-group-item">
          <%= render 'inquiry_form', inquiry: Inquiry.new %>
        </div>
        <div class="list-group list-group-flush" style="background: #cc0000;height: 3px"></div>
      </div>
    <% end %>

  </div>
</div>

<br><br><br><br>