<%= form_with(model: house_style, local: true) do |form| %>
  <% if house_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house_style.errors.count, "error") %> prohibited this house_style from being saved:</h2>

      <ul>
      <% house_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
