<br>
<h1 class="font-weight-light">Welcome, <%= @current_user.name %>!</h1>
<br><br>
<% if admin? %>
  <div class="row">

    <div class="col-md-3">
      <%= link_to users_path, class: 'link-no-dec' do %>
      <div class="card icon-card">
        <div class="card-body">
          <br>
          <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">people</i></p>
          <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Users</p>
          <br>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to real_estate_companies_path, class: 'link-no-dec' do %>
        <div class="card icon-card"  style="padding-bottom: 2px;padding-top: 1px">
          <div class="card-body">
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">business</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Real Estate Companies</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to houses_path, class: 'link-no-dec' do %>
        <div class="card icon-card">
          <div class="card-body">
            <br>
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">home</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Houses</p>
            <br>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to inquiries_path, class: 'link-no-dec' do %>
        <div class="card icon-card">
          <div class="card-body">
            <br>
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">chat</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Inquiries</p>
            <br>
          </div>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<% if realtor? %>

  <div class="row justify-content-md-center">

    <div class="col-md-3">
      <%= link_to real_estate_companies_path, class: 'link-no-dec' do %>
        <div class="card icon-card"  style="padding-bottom: 2px;padding-top: 1px">
          <div class="card-body">
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">business</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Real Estate Companies</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to houses_path, class: 'link-no-dec' do %>
        <div class="card icon-card">
          <div class="card-body">
            <br>
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">home</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Houses</p>
            <br>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to inquiries_path, class: 'link-no-dec' do %>
        <div class="card icon-card">
          <div class="card-body">
            <br>
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">chat</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Inquiries</p>
            <br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if house_hunter? %>
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <%= link_to real_estate_companies_path, class: 'link-no-dec' do %>
        <div class="card icon-card"  style="padding-bottom: 2px;padding-top: 1px">
          <div class="card-body">
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">business</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Real Estate Companies</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to houses_path, class: 'link-no-dec' do %>
        <div class="card icon-card">
          <div class="card-body">
            <br>
            <p style="text-align: center"><i class="material-icons mr-1" style="vertical-align: bottom;font-size: 90px;margin-top: 20px">home</i></p>
            <p class="font-weight-light" style="text-align: center;font-size: 30px;margin-top: -20px">Houses</p>
            <br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>