<% if admin? %>
  <h2>Admin Console</h2>

  <p>
    <%= link_to 'Create Realtor/House Hunter', new_user_path %>
  </p>
  <p>
    <%= link_to 'Create Real Estate Company', new_real_estate_company_path %>
  </p>
  <p>
    <%= link_to 'List Users', users_path %>
  </p>
  <p>
    <%= link_to 'List Real Estate Companies', real_estate_companies_path %>
  </p>
  <p>
    <%= link_to 'List Houses', houses_path%>
  </p>
  <p>
    <%= link_to 'List Inquiries', inquiries_path%>
  </p>
<% end %>

<% if realtor? %>
  <h2>Realtor Console</h2>

  <p>
    <%= link_to 'Edit User Profile', edit_user_path(current_user.id) %>
  </p>
  <p>
    <%= link_to 'Create House Hunter', new_user_path %>
  </p>
  <p>
    <%= link_to 'Create Real Estate Company', new_real_estate_company_path %>
  </p>
  <p>
    <%= link_to 'List Users', users_path %>
  </p>
  <p>
    <%= link_to 'List Houses', houses_path%>
  </p>
  <p>
    <%= link_to 'List Inquiries', inquiries_path%>
  </p>
<% end %>

<% if house_hunter? %>
  <h2>House Hunter Console</h2>

  <p>
    <%= link_to 'List Houses', houses_path%>
  </p>
  <p>
    <%= link_to 'List Real Estate Companies', real_estate_companies_path %>
  </p>

  <p>
    <%= link_to 'List Inquiries', inquiries_path%>
  </p>
<% end %>