<% if admin? %>
  <h4><i class="fa fa-heart-o"></i>Admin Console</h4>
  <p>
    <%= link_to 'List Users', users_path %>
  </p>
  <p>
    <%= link_to 'List Real Estate Companies', real_estate_companies_path %>
  </p>
  <p>
    <%= link_to 'List Houses', houses_path%>
  </p>
  <p>
    <%= link_to 'List Inquiries', inquiries_path%>
  </p>
<% end %>

<% if realtor? %>
  <%= image_tag 'realtor.jpg', class: 'img-fluid', style: 'margin-top: -24px' %>
  <br><br>
  <div class="list-group mx-auto" style="width: 400px; text-align: center">
    <h4>Realtor Console</h4>
     <%= link_to 'List Real Estate Companies', real_estate_companies_path, class: 'list-group-item list-group-item-action' %>
     <%= link_to 'List Houses', houses_path, class: 'list-group-item list-group-item-action' %>
     <%= link_to 'List Inquiries', inquiries_path, class: 'list-group-item list-group-item-action' %>
  </div>
<% end %>

<% if house_hunter? %>
  <h4>House Hunter Console</h4>
  <p>
    <%= link_to 'List Houses', houses_path%>
  </p>
  <p>
    <%= link_to 'List Real Estate Companies', real_estate_companies_path %>
  </p>
<% end %>