<i class="material-icons mr-1" style="vertical-align: bottom;font-size: 48px;">business</i>
<span style="font-size: xx-large">Real Estate Companies</span>
<br><br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Size</th>
      <th>Founded</th>
      <th>Revenue</th>
      <th>Synopsis</th>
      <% if !house_hunter? %><th></th><% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @real_estate_companies.each do |real_estate_company| %>
      <tr>
        <td><%= real_estate_company.name %></td>
        <td><%= real_estate_company.website %></td>
        <td><%= real_estate_company.address %></td>
        <td><%= real_estate_company.size %></td>
        <td><%= real_estate_company.founded %></td>
        <td><%= real_estate_company.revenue %></td>
        <td><%= real_estate_company.synopsis %></td>
        <td><%= link_to 'Show', real_estate_company %></td>
        <% if !house_hunter? and !realtor? %><td><%= link_to 'Destroy', real_estate_company, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="list-group mx-auto" style="width: 300px; text-align: center">
  <% if !house_hunter? %>
  <%= link_to 'New Real Estate Company', new_real_estate_company_path, class: 'list-group-item list-group-item-action' %>
  <% end %>
  <%= link_to 'Back', welcome_index_path, class: 'list-group-item list-group-item-action' %>
</div>