<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @real_estate_company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @real_estate_company.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @real_estate_company.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @real_estate_company.size %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @real_estate_company.founded %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @real_estate_company.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @real_estate_company.synopsis %>
</p>

<% if !house_hunter? && !current_user.real_estate_company.id.nil? && current_user.real_estate_company.id == @real_estate_company.id %>
<%= link_to 'Edit', edit_real_estate_company_path(@real_estate_company) %> |
<% end %>
<%= link_to 'Back', real_estate_companies_path %>

