<i class="material-icons mr-1" style="vertical-align: bottom;font-size: 40px;">chat</i>
<span style="font-size: xx-large">Inquiries</span>
<br><br>

<h4 class="font-weight-light" >Pending Inquiries</h4>
<table class="table">
  <thead class="table-danger">
    <tr>
      <th width="20%">User</th>
      <th width="20%">House</th>
      <th width="20%">Subject</th>
      <th width="20%">Time</th>
      <th width="7%"></th>
      <% if admin? %><th width="13%"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <% if inquiry.reply.nil? || inquiry.reply.empty? %>
        <tr>
          <% if !inquiry.user.nil? %>
            <td><%= inquiry.user.name %></td>
          <% end %>
          <td><%= inquiry.house.name %></td>
          <td><%= inquiry.subject %></td>
          <td><%= inquiry.created_at %></td>
          <td>
            <%= link_to inquiry do%>
              <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px; color: #de6868">remove_red_eye</i>
            <% end %>
          </td>
          <% if admin? %>
            <td>
              <%= link_to inquiry, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px; color: #de6868">delete</i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<h4 class="font-weight-light" >Resolved Inquiries</h4>
<table class="table">
  <thead class="table-danger">
  <tr>
    <th width="20%">User</th>
    <th width="20%">House</th>
    <th width="20%">Subject</th>
    <th width="20%">Time</th>
    <th width="7%"></th>
    <% if admin? %>
      <th colspan="3" width="13%"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @inquiries.each do |inquiry| %>
    <% if !inquiry.reply.nil? && !inquiry.reply.empty? %>
      <tr>
        <td><%= inquiry.user.name %></td>
        <td><%= inquiry.house.name %></td>
        <td><%= inquiry.subject %></td>
        <td><%= inquiry.created_at %></td>
        <td>
          <%= link_to inquiry do%>
            <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px; color: #de6868">remove_red_eye</i>
          <% end %>
        </td>
        <% if admin? %>
          <td>
            <%= link_to edit_inquiry_path(inquiry) do%>
              <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px; color: #de6868">edit</i>
            <% end %>
          </td>
          <td>
            <%= link_to inquiry, method: :delete, data: { confirm: 'Are you sure?' } do%>
              <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px; color: #de6868">delete</i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="d-flex flex-row" style="width: 250px; text-align: center">
  <div class="p-2" style="width: 73px">
    <%= link_to welcome_index_path, class: 'list-group-item list-group-item-danger list-group-item-action' do %>
      <i class="material-icons mr-3" style="vertical-align: bottom;font-size: 24px;">arrow_back_ios</i>
    <% end %>
  </div>
</div>