<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inquiry.user.name %>
</p>

<p>
  <strong>House:</strong>
  <%= @inquiry.house.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.msg %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @inquiry.reply %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', :back %>
