<nav class="navbar navbar-expand-lg navbar-light" style="background: #de6868;color: white">
  <div class="container">
    <a class="navbar-brand mt-1 mb-1 h2" href="<%= welcome_index_path %>" style="color: white">
      <img src="<%= image_path 'logo.png' %>" height="30" class="d-inline-block align-top" alt="">
      &nbsp;HouseHunt
    </a>
    <%#= link_to 'HouseHunt', welcome_index_path, class: 'navbar-brand ' %>
      <ul class="nav justify-content-end navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user, class: 'dropdown-item' do %>
                  <span class="row"><i class="material-icons mr-2">account_circle</i>Profile</span>
                <% end %>
              </li>
              <% if(session[:role] == User::ROLE_REALTOR and current_user.is_house_hunter?) %>
                <li><%= link_to "Switch to House Hunter", {:controller => "sessions", :action => "update", :role => 1 },:method => :patch, class: 'dropdown-item' %></li>
              <% elsif(session[:role] == User::ROLE_HOUSE_HUNTER and current_user.is_realtor?) %>
                <li><%= link_to "Switch to Realtor",{:controller => "sessions", :action => "update", :role => 2 },:method => :patch, class: 'dropdown-item' %></li></li>
              <%end %>
              <div class="dropdown-divider"></div>
              <li>
                <%= link_to logout_path, method: :delete, class: 'dropdown-item' do %>
                  <span class="row"><i class="material-icons mr-2">logout</i>Log out</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
<br>