<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'HouseHunt', welcome_index_path, class: 'navbar-brand mt-1 mb-1 h2' %>
      <ul class="nav justify-content-end navbar-nav">
        <li class="nav-item"><%= link_to "Home", welcome_index_path, class: 'nav-link' %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "Users", users_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, class: 'dropdown-item' %></li>
              <% if(session[:role] == User::ROLE_REALTOR and current_user.is_house_hunter?) %>
                <li><%= link_to "Switch to House Hunter", {:controller => "sessions", :action => "update", :role => 1 },:method => :patch, class: 'dropdown-item' %></li>
              <% elsif(session[:role] == User::ROLE_HOUSE_HUNTER and current_user.is_realtor?) %>
                <li><%= link_to "Switch to Realtor",{:controller => "sessions", :action => "update", :role => 2 },:method => :patch, class: 'dropdown-item' %></li></li>
              <%end %>
              <div class="dropdown-divider"></div>
              <li><%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
<br>